---
import Layout from "../layout/default.astro";
---

<Layout>
  <main>
    <h1>This is website content</h1>
  </main>
</Layout>


<!-- CSS scoping -->
<style>
  main {
    margin: auto auto;
  }

  h1 {
    font-size: 5rem;
    color: hotpink;
  }
</style>
