<!-- This asrto layout -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro 101</title>
  </head>
  <body>
    <header>
        This is the header
        <ul>
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/about">
                    About
                </a>
            </li>
        </ul>
    </header>
    <!-- almost similar to the react children -->
    <slot />  
    <footer>This is the footer</footer>
  </body>
</html>


